<% layout("layouts/boilerplate") %>

<h3>All Products</h3>
<ul>
    <% for(let listing of allListings) { %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <%} %>
</ul>
 